<template>

    <div class="overflow-y-auto overflow-x-hidden">
        <p></p>
    </div>

</template>

<script>

export default {
    name: "Create Ticket Agent",
}
</script>

<style scoped>

</style>
