<template>

    <div class="overflow-y-auto overflow-x-hidden">
        <section class="flex flex-col mb-5">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="table min-w-full">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>Contact</th>
                                <th>Subject</th>
                                <th>State</th>
                                <th>Agent</th>
                                <th>Priority</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox">
                                    </label>
                                </th>
                                <td>
                                    <div class="font-bold">
                                        Hart Hagerty
                                    </div>
                                </td>
                                <td>
                                    Zemlak, Daniel and Leannon
                                </td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                                <td>Purple</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>


</template>

<script>

export default {
    name: "Index",
}
</script>

<style scoped>

</style>
