<template>
    <Head title="Welcome"/>

    <p>testing</p>

</template>

<style scoped>
</style>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3';
import Layout from "@/Layouts/WelcomeLayout";

export default {
    components: {
        Layout,
        Head,
        Link,
    },
    layout: [Layout],
    props: {
        canLogin: Boolean,
        canRegister: Boolean,
    },
}
</script>
