<template>
    <div class="navbar bg-neutral text-neutral-content">
        <div class="flex-1 px-2 mx-2">
            <span class="text-lg font-bold">
                {{ $page.props.app.name }}
            </span>
        </div>

        <div class="flex-none hidden px-2 mx-2 lg:flex">
        </div>
        <div class="flex-none">

            <div class="form-control mr-3">
                <input type="text" placeholder="Search" class="input input-bordered" v-show="userAuthenticated">
            </div>

            <div class="dropdown dropdown-end" v-if="userAuthenticated">
                <div tabindex="0" class="btn btn-ghost rounded-btn">

                    {{name}}

                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-5 ml-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>

                </div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    <li class="menu-title">
                      <span>
                            Welcome {{ name }}
                      </span>
                    </li>
                    <li>
                        <Link :href="route('logout')" as="a" method="post">Logout</Link>
                    </li>
                </ul>
            </div>

            <Link :href="route('login')" as="a" class="btn btn-ghost btn-sm rounded-btn" v-else>Login</Link>

        </div>
    </div>


</template>

<script>
export default {
    name: "NavLoggedIn",
    computed: {
        name: function(){
            return (this.$page.props.auth.user) ? this.$page.props.auth.user.name : 'Guest';
        },
        userAuthenticated: function(){
            return !!(this.$page.props.auth.user);
        }
    }
}
</script>

<style scoped>

</style>
