<template>
    <section class="h-screen flex flex-col">

        <TopNav/>

        <div class="bg-base-200 drawer drawer-mobile flex-grow">
            <input id="side-bar-draw" type="checkbox" class="drawer-toggle">
            <div class="flex flex-col drawer-content">
                <label for="side-bar-draw" class="mb-4 btn btn-primary drawer-button lg:hidden">open menu</label>
                <section class="pt-3 px-3 h-full overflow-y-auto">
                    <slot/>
                </section>
            </div>
            <div class="drawer-side">
                <label for="side-bar-draw" class="drawer-overlay"></label>
                <ul class="menu p-4 overflow-y-auto w-60 bg-base-100 text-base-content">
                    <li :class="{bordered : page == '/dashboard'}">
                        <Link :href="route('dashboard')" as="a">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block mr-2 stroke-current h-6 w-6"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"/>
                            </svg>
                            Dashboard
                        </Link>
                    </li>
                    <li :class="{bordered : page == '/tickets'}">
                        <Link :href="route('tickets')" as="a">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block mr-2 stroke-current h-6 w-6"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z"/>
                            </svg>
                            Tickets
                        </Link>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</template>

<script>
import TopNav from "@/Layouts/Nav/TopNav";
import SideNav from "@/Layouts/Nav/SideNav";

export default {
    components: {TopNav, SideNav},
    computed: {
        page: function(){
            return this.$page.url;
        }
    }
}

</script>

<style scoped>

</style>
