<template>
    <section class="h-screen flex flex-col">
        <TopNav/>
    </section>
</template>

<script>
import TopNav from "@/Layouts/Nav/TopNav";
import SideNav from "@/Layouts/Nav/SideNav";

export default {
    components: {TopNav, SideNav}
}

</script>

<style scoped>

</style>
